# 数据库配置
DATABASE_URL=sqlite:///var/lib/track-system/track-system.db?mode=rwc

# Gitee API Token
GITEE_TOKEN=929a8385828364293141695fead49c3c

# GitHub API Token
GITHUB_TOKEN=your_github_token_here

# 日志级别
RUST_LOG=info,track_system=debug

# 服务器配置
SERVER_HOST=127.0.0.1
SERVER_PORT=8080

#risk_client配置
RISK_CREATE_ENABLED=false
